
.Logo {
    width: 50px;
    height: 50px;
}

.search-box{
    width: 300px;
    height: 40px;
}
li {
   list-style-type: none;
}

.Head
{
   display:flex;
   align-items: center;
    gap: 20px;
}
.p1
{
   margin-top: 50px;
   margin-left: -200px;
}
